<!DOCTYPE html>
<html lang="en">
<head>
    <title>资产查询</title>
    <meta charset="UTF-8">
    <!-- 表示根据设备的大小调整页面显示的宽度-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body><br><br><br>
<div align="center">
<h2 >资产查询</h2>
</div>
<div align="center" class="container">
    <form action="/assetsquery" method="post">
        <input name="query" type="text" placeholder="请输入查询内容"autofocus="autofocus">
        <button  type="submit" >提交</button>
    </form>
</div>
</body>
</html>