<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>资产查询信息</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<br><br><br><br>
    <div align="right" class="col-md-12 column">
        <form action="/assets" method="post">
          <input name="query" type="text" required="required" placeholder="请输入主资产号或地址">
          <button typy="submit">查询</button>
        </form>
    </div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3  align="center">
				资产查询结果
			</h3>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>
                            主资产号
						</th>
						<th>
							实物ID
						</th>
                        <th>
                            地址
                        </th>
						<th>
							基站（机房）编码
						</th>
                        <th>
                            基站（机房）名称
                        </th>
						<th>
							逾龄日期
						</th>
                        <th>
                            资产原值
                        </th>
                        <th>
                            残值
                        </th>
					</tr>
				</thead>
				<tbody>
                {% for AssetsId in assets %}
                    <tr>
                    {% for i in [0,24,43,76,77,109,114,116] %}
                       <td>{{ AssetsId[i] }}</td>
                    {% endfor %}
                    </tr>
                {%endfor%}
				</tbody>
			</table>
		</div>
	</div>
    <div align="right" class="col-md-12 column">
          <form action="/" >
          <button>关闭</button>
        </form>
    </div>
</div>






</body>
</html>