<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>弹出，关闭窗口</title>
<style type="text/css">
#Layer1 {
	height: 300px;
	width: 450px;
	border: 5px solid #999;
}
#Layer1 #win_top {
	height: 30px;
	width: 450px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	line-height: 30px;
	color: #666;
	font-family: "微软雅黑", Verdana, sans-serif, "宋体";
	font-weight: bold;
	text-indent: 1em;
}
</style>
</head>

<body>
弹出，关闭窗口 <br />
<br />
<a href="#" onClick="Layer1.style.display='block'">打开</a>&nbsp;&nbsp;<a href="#" onClick="Layer1.style.display='none'">关闭</a>
<div id="Layer1">
  <div id="win_top">云代码 - 我的个人代码库 </div>
  <br />
  http://yuncod.net </div>
</body>
</html>
