<!DOCTYPE html>
<html lang="en">
<head>
    <title>基站资产查询</title>
     <meta charset="UTF-8">
    <script src="jquery-3.2.1.min.js"></script>
    <script src="test.js"></script>
    <!-- 表示根据设备的大小调整页面显示的宽度-->

</head>

<body>
<div>
    <div>
        <div>
            <table >
                <tr>
                    <td id="tdd" contentEditable="false">dddd</td>
                    <td onchange="change(this)">ccccc</td>
                </tr>
            </table>
            <p>ddddddddddddd</p>
        </div>
    </div>
    <div>
        <input type="button" id="button" onclick="infoclose(this)" value="xiugai"></input>
    </div>
</div>

</body>
</html>